body {
  font-family: Tahoma, Arial;
}
.slider-container {
  margin: 10px auto;
  width: 800px;
  height: 250px;
  position: relative;
  .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
  }
  img {
    width: 800px;
    height: 250px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    object-fit: cover;
  }
  img.active {
    opacity: 1;
  }
}

.slider-controls {
  width: 800px;
  margin: auto;
  overflow: hidden;
  .prev,
  .next {
    background-color: #009688;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
  }

  .prev {
    float: left;
  }
  .next {
    float: right;
  }

  .prev.disabled,
  .next.disabled {
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
  }

  .indicators {
    width: 60%;
    float: left;
    ul {
      list-style: none;
      margin: 0;
      text-align: center;
      li {
        display: inline-block;
        background-color: #f6f6f6;
        color: #333;
        font-weight: bold;
        height: 28px;
        width: 28px;
        border-radius: 4px;
        margin: 0 2px;
        line-height: 28px;
        cursor: pointer;
        &.active {
          background-color: #009688;
          color: #fff;
        }
      }
    }
  }

  
}
